<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Team Sankey</title>
</head>
<body>
    <h1>About our Journey</h1>
    <p>To whom it may concern,</p>
    <p>We deeply apologize for our inability to complete the assignment. We approached Project 2 as a way to visualize the performance of the global stock market as it related to certain economic indicators. In essence, our hypothesis was that there is a positive correlation between the stock market and the overall health of the global economy. We intended to prove our hypothesis by aggregating stock exchange data for 20 countries over a seven year period, as well as key economic indicators (e.g., inflation, GDP growth, and unemployment) for those regions.</p>
    <p>Our ideal visualizations would have displayed clear graphical representations of certain variables in order to understand the relationships between them. Additionally, we wanted to add a level of interactivity to each graph, allowing its users to discover certain trends and come to their own conclusions.</p>
        <ul>
            <li>Our first chart was intended as an interactive bar chart, showing the year-over-year rate of return for each country’s stock exchange juxtaposed with the economic indicators listed above. The goal was to allow users to toggle between years to see how each variable changed for each country on an equalized scale.</li>
            <li>Our next chart was line graph showing the same indicators above, but for individual countries. We wanted include two separate y-axes in order to bring certain variables onto the same scale vertically. Again, this chart was to have a drop-down menu allowing users to choose different countries.</li>
            <li>Our final chart was something we hadn’t come across in class. The gauge plot, using the JQWidgets Javascript library, was meant to visualize the NYSE data as it compared to the economic indicators for the U.S. specifically. It was supposed to show changes to certain factors on a monthly basis using 2017 data.</li>
        </ul>        
    <p>Overall, we faced many challenges when dealing with each of these charts. The main challenge faced across all three charts was adding interactivity. Although we were able to add a drop-down menu to the bar chart, getting it to interface with the actual data and chart itself proved difficult. Additionally, labels were difficult to add to each visualization, as we were often unable to determine the correct positioning within the HTML file. The differences in charts also forced us to use two separate logic.py files as well. In hindsight, it seems we underestimated the complexity of work we needed to complete within the given timeframe. Best practices going forward would most likely include setting more definitive parameters regarding project expectations and limiting the scope of data and variables chosen.</p>
</body>
</html>